

.operations{
    margin-left: 11%;
    margin-right: 11%;
    display: flex;
    justify-content: space-between;
}

.card{
    box-shadow: 5px 5px 10px 2px rgb(98, 98, 99);
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.05);
}