{% extends "sponsor/base.html" %}

{% block title %}Add Campaign{% endblock %}

{% block css %}
    <style>
      .form-control{
    padding: 5px;
      }

.form-area{
    background-color: rgba(12, 40, 113, 1);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    border-radius: 10px;
}


body{
    background-color: bisque;
}

.items{
  display: flex;
}

.data{
  padding: 10px 20px;
}

    </style>
{% endblock %}

{% block js %}  
    <script>

function edit(){
    start = document.getElementById("start_date").value;
    end = document.getElementById("end_date").value;

    d1 = new Date(start);
    d2 = new Date(end);

    if(isNaN(d1)){
      alert("Invalid start date");
      return false;
    }
    if(isNaN(d2)){
      alert("Invalid end date");
      return false;
    }

    diff = d2.getTime()-d1.getTime();
    if(diff<=0){
      alert("End date should be after start date");
      return false;
    }

    category = document.getElementById("category");
    if(category.value=="Choose..."){
      alert("Please choose the category.")
      return false;
    }

    visibility = document.getElementById("visibility");
    if(visibility.value=="Choose..."){
      alert("Please choose the visibility.")
      return false;
    }

    industry = document.getElementById("industry");
    if(industry.value=="Choose..."){
      alert("Please choose the industry.")
      return false;
    }

    return true;
}
    </script>
{% endblock %}


{%block user %}{{username}}{% endblock %}

{% block content %}


<div>


    <div class="form-area">
    
        <div class="form">

            <h1>
                Edit Details
            </h1>
            <br>
            <form  method="post" id="edit" onsubmit="return edit()">

                <div class="items">
                  <div class="data">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="name" value="{{userDetails[1]}}" required>
                    <br>
                    
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" placeholder="description" value="{{userDetails[2]}}" required>
                    <br>
    
                    <label for="budget">Budget</label>
                    <input type="number" class="form-control" name="budget" id="budget" placeholder="Amount in dollars" value="{{userDetails[13]}}" required>
                    <br>
    
                    <label for="start_date">Start date</label>
                    <input type="text" class="form-control" name="start_date" id="start_date" value="{{userDetails[3][0:10]}}" required>
                    <br>
    
                    <label for="end_date">End date</label>
                    <input type="text" class="form-control" name="end_date" id="end_date" value="{{userDetails[4][0:10]}}" required>
                  </div>

                  <div class="data">
                    <label for="visibility">Visibility</label>
                    <div class="input-group mb-3">

                        <select class="form-select" id="visibility" name="visibility">
                          <option selected value="{{userDetails[11]}}">{{userDetails[11]}}</option>
                          <option value="private">private</option>
                          <option value="public">public</option>
      
                        </select>
                      </div>

                <label for="goals">Goals</label>
                <input type="text" class="form-control" name="goals" id="goals" placeholder="goals" value="{{userDetails[9]}}" required>
                <br>

                <label  for="industry">Industry</label>
                <div class="input-group mb-3">
                  <select class="form-select" id="industry" name="industry">
                    <option selected value="{{userDetails[7]}}">{{userDetails[7]}}</option>
                      {% for i in industry %}
                          <option value="{{i}}">{{i}}</option>
                      {% endfor %}

                  </select>
                </div>
                

                <label for="category">Category</label>
                <div class="input-group mb-3">
                  <select class="form-select" id="category" name="category">
                    <option selected value="{{userDetails[6]}}">{{userDetails[6]}}</option>
                    
                      {% for i in category %}
                          <option value="{{i}}">{{i}}</option>
                      {% endfor %}

                  </select>
                </div>
                
                <label  for="niche">Niche</label><br>
                <input type="text" class="form-control" id="niche" name="niche" value="{{userDetails[5]}}" required>


                  </div>

                </div>
                <br>
                <button type="submit" class="btn btn-primary" onclick="edit()">Edit Campaign</button>

            </form>
        </div>

    </div>

    

{% endblock %}