{% extends "admin/base.html" %}

{% block title %}Admin Messages {% endblock %}

{% block css %}
    <link rel="stylesheet" href = "{{url_for('static',filename = 'css/admin/message.css')}}">
{% endblock %}

{% block js %}  
    <script src="{{url_for('static',filename='js/admin/message.js')}}"></script>
{% endblock %}

{%block user %}{{username}}{% endblock %}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-success" type="button" onclick="send_message()">Send message</button>
  </div>
  <br><br>

<div class="messages">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">All</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="unread-tab" data-bs-toggle="tab" data-bs-target="#unread-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Unread</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="read-tab" data-bs-toggle="tab" data-bs-target="#read-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Read</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sent-tab" data-bs-toggle="tab" data-bs-target="#sent-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Sent</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="userreport-tab" data-bs-toggle="tab" data-bs-target="#userreport-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">User Reports</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="campaignreport-tab" data-bs-toggle="tab" data-bs-target="#campaignreport-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Campaign Reports</button>
          </li>
        
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        {% for row in all %}

        
            <div class="container mt-5">
                <div class="message-list">
                    <div class="message-item">

                        <p><strong>{{row[2]}}</strong>:  {{row[1]}}</p>
                        <p><small>To: {{row[3]}}</small></p>
                        <p><small>Message: {{row[4]}}</small></p>
                        <p><small>Received: {{row[6]}}</small></p>
                        {% if row[5] == 0  and row[2]!=username%}
                            <button class="btn btn-warning" id="{{row[0]}}" type="button" onclick="mark_as_read()">Mark as read</button>
                            <button class="btn btn-secondary" id="{{row[0]}}/{{row[2]}}" type="button" onclick="reply()">Reply</button>
                        {% elif row[5]!=0 and row[2]!=username %}    
                            <button class="btn btn-info" id="{{row[0]}}" type="button" onclick="mark_as_unread()">Mark as unread</button>
                            <button class="btn btn-secondary" id="{{row[0]}}/{{row[2]}}" type="button" onclick="reply()">Reply</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        
            <div class="tab-pane fade" id="unread-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="1">
                {% for row in unread %}
                <div class="container mt-5">
                    <div class="message-list">
                        <div class="message-item">
    
                            <p><strong>{{row[2]}}</strong>:  {{row[1]}}</p>
                            <p><small>Message: {{row[4]}}</small></p>
                            <p><small>Received: {{row[6]}}</small></p>
                            <button class="btn btn-warning" id="{{row[0]}}" type="button" onclick="mark_as_read()">Mark as read</button>
                            <button class="btn btn-secondary" id="{{row[0]}}/{{row[2]}}" type="button" onclick="reply()">Reply</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="read-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="2">
                {% for row in read %}
                <div class="container mt-5">
                    <div class="message-list">
                        <div class="message-item">
    
                            <p><strong>{{row[2]}}</strong>:  {{row[1]}}</p>
                            <p><small>Message: {{row[4]}}</small></p>
                            <p><small>Received: {{row[6]}}</small></p>
                            <button class="btn btn-warning" id="{{row[0]}}" type="button" onclick="mark_as_unread()">Mark as unread</button>
                            <button class="btn btn-secondary" id="{{row[0]}}" type="button" onclick="reply()">Reply</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="sent-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="2">
                {% for row in sent %}
                <div class="container mt-5">
                    <div class="message-list">
                        <div class="message-item">
                            <p>To:<strong>{{row[3]}}</strong></p>
                            <p><small>{{row[2]}}</small>:  {{row[1]}}</p>
                            <p><small>Message: {{row[4]}}</small></p>
                            <p><small>Received: {{row[6]}}</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="userreport-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="2">
                {% for row in userReports %}
                <div class="container mt-5">
                    <div class="message-list">
                        <div class="message-item">
                            <p>Against: <b>{{row[3]}}</b></p>
                            <p><small>Reported by</small>:  {{row[2]}}</p>
                            <p>Complain: {{row[1]}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="campaignreport-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="2">
                {% for row in campaignReports %}
                <div class="container mt-5">
                    <div class="message-list">
                        <div class="message-item">
                            <p>To:<strong>{{row[3]}}</strong></p>
                            <p><small>{{row[2]}}</small>:  {{row[1]}}</p>
                            <p><small>Message: {{row[4]}}</small></p>
                            <p><small>Received: {{row[6]}}</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        
      </div>
</div>





{% endblock %}