{% extends "admin/base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href = "{{url_for('static',filename = 'css/admin/userManagement.css')}}">
{% endblock %}

{% block js %}  
    <script src="{{url_for('static',filename = 'js/admin/campaigns.js')}}"></script>
    <script >
      function send_messages(){
        window.location.href = "/admin/send_message";
      }
    </script>
{% endblock %}

{%block user %}{{username}}{% endblock %}

{% block content %}
<div class="searchby">
    <form class="d-flex" role="search" id="formSearchBy" method="post" onsubmit="return true">
        
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="filterbychoice">Filter By</label>
                <select class="form-control" id="filterbychoice" name="filterbychoice">
                  <option selected value="Choose...">Choose...</option>
                  <option value="category">Category</option>
                  <option value="isflagged">Flagged</option>
                  <option value="visibility">Visibility</option>
                  <option value="status">Status</option>
                  
                </select>

                <select class="form-control" id="filterbyvalue" name="filterbyvalue">
                    <option selected value="Choose...">Choose...</option>

                </select>
            


            <label class="input-group-text" for="filterbyvalue"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
        
    </form>

    
    <form class="d-flex" role="search" id="formUsername" method="post" onsubmit="return true">
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="name">Filter By</label>
            <input type="text" id="name" name = "name" class="form-control" placeholder="name">

            <label class="input-group-text" for="name"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
    </form>

    <form class="d-flex" role="search" id="formNiche" method="post" onsubmit="return true">
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="n">Filter By</label>
            <input type="text" id="n" name = "n" class="form-control" placeholder="niche">

            <label class="input-group-text" for="name"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
    </form>

</div>
<br>
    <div style="max-width: fit-content;margin-left: auto;margin-right: auto;">

        <button class="btn btn-warning" type="button" onclick="reload()">See all campaigns</button>

</div>

<br>
<div>

    <div class="allUsers">
        <br>

        {% for i in range(0, campaigns|length ,3) %}
            
            <div class="rows">
                {% for j in range(i,i+3) %}
                    {% if (campaigns|length > j)  %}
                    {% set user = campaigns[i] %}
                    <div class="users">
                        <div class="card" style="width: 18rem;">

                            {% if campaigns[j][11] == "private"%}
                                <span class="badge text-bg-info">Private</span>
                            {% else %}
                            <span class="badge text-bg-primary">Public</span>
                            {% endif %}
                            <br>

                            <div class="card-body">
                              <h5 class="card-title"><b>{{campaigns[j][1]}}</b></h5>
                              <p class="card-text">{{campaigns[j][2]}}</p>
                              {% if campaigns[j][8] == 1 %}
                                <span class="badge text-bg-danger">Flagged</span>
                            {% endif %}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><small>Sponsor: {{campaigns[j][10]}}</small></li>
                                <li class="list-group-item">Goals: {{campaigns[j][9]}}</li>
                              <li class="list-group-item">Start date: {{campaigns[j][3][0:10]}}</li>
                              <li class="list-group-item">End date: {{campaigns[j][4][0:10]}}</li>
                              <li class="list-group-item">Industry: {{campaigns[j][7]}}</li>
                              <li class="list-group-item">Category: {{campaigns[j][6]}}</li>
                              <li class="list-group-item">Niche: {{campaigns[j][5]}}</li>
                              <li class="list-group-item">Budget: $ {{campaigns[j][13]}}</li>
                            </ul>
                            
                            
                            <div class="card-body">
                              <button type="button" class="btn btn-info" id="{{campaigns[j][0]}}" onclick="ad_requests()">Ad Requests</button>

                              {% if campaigns[j][8]==0 %}
                              <button type="button" class="btn btn-dark" id="{{campaigns[j][0]}}" onclick="flag_campaign()">Flag Campaign</button>
                              {% else %}
                              <button type="button" class="btn btn-warning" id="{{campaigns[j][0]}}"  onclick="unflag_campaign()">Unflag Camapign</button>
                              {% endif %}
                            </div>  
                            
                            
                        </div>
                    </div>

                    {% endif %}
                    

                {% endfor %}
                <br><br>
                
            </div>
            <br><br>
            
        {% endfor %}

    </div>
</div>


{% endblock %}