{% extends "admin/base.html" %}

{% block title %}User Management{% endblock %}

{% block css %}
    <link rel="stylesheet" href = "{{url_for('static',filename = 'css/admin/userManagement.css')}}">
{% endblock %}

{% block js %}  
    <script src="{{url_for('static',filename='js/admin/userManagement.js')}}"></script>
{% endblock %}


{%block user %}{{username}}{% endblock %}

{% block content %}



<div class="searchby">
    <form class="d-flex" role="search" id="formSearchBy" method="post" onsubmit="return true">
        
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="filterbychoice">Filter By</label>
                <select class="form-control" id="filterbychoice" name="filterbychoice">
                  <option selected value="Choose...">Choose...</option>
                  <option value="userType">UserType</option>
                  <option value="isActive">Active</option>
                  <option value="isflagged">Flagged</option>
                </select>

                <select class="form-control" id="filterbyvalue" name="filterbyvalue">
                    <option selected value="Choose...">Choose...</option>

                </select>
            


            <label class="input-group-text" for="filterbyvalue"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
        
    </form>

    
    <form class="d-flex" role="search" id="formUsername" method="post" onsubmit="return true">
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="usernameSearch">Filter By</label>
            <input type="text" id="usernameSearch" name = "usernameSearch" class="form-control" placeholder="username">

            <label class="input-group-text" for="usernameSearch"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
    </form>
    
    <div style="padding: 10px;">
        <button class="btn btn-warning" type="button" onclick="reload()">See all users</button>
    </div>

    <div style="padding: 10px;">
        <button class="btn btn-warning" type="button" onclick="addUser()">Add user</button>
    </div>
</div>

<br><br>

<div>

    <div class="allUsers">
        <br>

        {% for i in range(0, users|length ,3) %}
            
            <div class="rows">
                {% for j in range(i,i+3) %}
                    {% if (users|length > j)  %}
                    {% set user = users[i] %}
                    <div class="users">
                        <div class="card" style="width: 18rem;">

                            {% if users[j][5] == 1%}
                                <span class="badge text-bg-success">Active</span>
                            {% else %}
                            <span class="badge text-bg-secondary">Inactive</span>
                            {% endif %}
                            <br>

                            {% if users[j][2]=="admin" %}
                                <img src="{{url_for('static',filename='img/person-gear.svg')}}" class="card-img-top" alt="..." width="90px" height="90px">
                            {% elif users[j][2]=="influencer" %}
                                <img src="{{url_for('static',filename='img/person-bounding-box.svg')}}" class="card-img-top" alt="..." width="90px" height="90px">
                            {% else %}
                            <img src="{{url_for('static',filename='img/cash-stack.svg')}}" class="card-img-top" alt="..." width="90px" height="90px">
                            {% endif %}
                            <div class="card-body">
                              <h5 class="card-title"><b>{{users[j][1]}}</b></h5>
                              <p class="card-text">Click on see details to check all the details for the user.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><b>Role: {{users[j][2]}} </b></li>
                              <li class="list-group-item">Email: {{users[j][3]}}</li>
                            </ul>
                            <div class="card-body">
                                {% if users[j][6] == 0 and users[j][2] != "admin" %}
                                    <button type="button" class="btn btn-primary" onclick="flag_user()" id="{{users[j][1]}}">Flag User</button>
                                {% elif users[j][2]!="admin" %}
                                    <button type="button"  class="btn btn-warning" onclick="unflag_user()" id="{{users[j][1]}}">Unflag User</button>
                                {% endif %}
                              <button type="button" class="btn btn-primary" id="{{users[j][1]}}" onclick="see_details()">See Details</button>
                            <br><br>
                              <button type="button" class="btn btn-danger" id="{{users[j][1]}}"  onclick="delete_user()">Delete User</button>
  
                            </div>

                            
                        </div>
                    </div>

                    {% endif %}
                    

                {% endfor %}
                <br><br>
                
            </div>
            <br><br>
            
        {% endfor %}
    </div>
    


</div>
    





{% endblock %}