{% extends "influencer/base.html" %}

{% block title %}Ad Requests{% endblock %}

{% block css %}
<link rel="stylesheet" href = "{{url_for('static',filename = 'css/admin/userManagement.css')}}">
{% endblock %}

{% block js %}  
    <script>
        function reload(){
            window.location.href = window.location.href;
        }
    </script>
    <script src="{{url_for('static',filename='js/admin/adRequests.js')}}" ></script>
    <script>
        function negotiate(){
            amount = document.getElementById("amount").value;

            if(parseInt(amount)<=0){
                alert("Invalid payment amount!");
                return false;
            }
        }

        function setadid(btn){
            document.getElementById("ad_id").value = btn;
        }
    </script>
{% endblock %}


{%block user %}{{username}}{% endblock %}

{% block content %}

<div class="searchby">
    <form class="d-flex" role="search" id="formSearchBy" method="post" onsubmit="return true">
        
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="filterbychoice">Filter By</label>
                <select class="form-control" id="filterbychoice" name="filterbychoice">
                  <option selected value="Choose...">Choose...</option>
                  <option value="category">Category</option>
                  <option value="deleted">Deleted</option>
                  <option value="isflagged">Flagged</option>
                  <option value="visibility">Visibility</option>
                  <option value="status">Status</option>
                  
                </select>

                <select class="form-control" id="filterbyvalue" name="filterbyvalue">
                    <option selected value="Choose...">Choose...</option>

                </select>
            


            <label class="input-group-text" for="filterbyvalue"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
        
    </form>

    
    <form class="d-flex" role="search" id="formUsername" method="post" onsubmit="return true">
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="name">Payment Range</label>
            <input type="number" id="start" name = "start" class="form-control" placeholder="start">
            <input type="number" id="end" name = "end" class="form-control" placeholder="end">

            <label class="input-group-text" for="name"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
    </form>
            
        </div>
    </form>

</div>
<br>
    <div style="max-width: fit-content;margin-left: auto;margin-right: auto;">

        <button class="btn btn-warning" type="button" onclick="reload()">See all requests</button>

</div>

<br>
<div>
    <div class="allUsers">
        <br>

        {% for i in range(0, ads|length ,3) %}
            
            <div class="rows">
                {% for j in range(i,i+3) %}
                    {% if (ads|length > j)  %}
                    {% set user = ads[i] %}
                    <div class="users">
                        <div class="card" style="width: 18rem;">

                            {% if ads[j][6] == "pending" %}
                                <span class="badge text-bg-warning">Pending</span>
                            {% elif ads[j][6] == "accepted" %}
                            <span class="badge text-bg-success">Accepted</span>
                            {% else %}
                            <span class="badge text-bg-danger">Rejected</span>
                            {% endif %}
                            <br>

                            <div class="card-body">
                              <h5 class="card-title"><b>{{ads[j][4]}}</b></h5>
                              <p class="card-text">{{ads[j][5]}}</p>
                              {% if ads[j][17] == 1 %}
                                <span class="badge text-bg-danger">Flagged</span>
                            {% endif %}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Sponsor: {{ads[j][19]}}</li>
                                <li class="list-group-item">Sent to:{{ads[j][2]}}</li>
                                <li class="list-group-item"><b>Payment:$ {{ads[j][8]}}</b></li>
                                <li class="list-group-item">Campaign name: {{ads[j][10]}}</li>
                                <li class="list-group-item">Campaign description: {{ads[j][11]}}</li>
                                <li class="list-group-item">Campaign type: {{ads[j][20]}}</li>
                                <li class="list-group-item">Campaign goals: {{ads[j][18]}}</li>
                                <li class="list-group-item"><b>Start date: {{ads[j][12][0:10]}}</b></li>
                                <li class="list-group-item"><b>End date: {{ads[j][13][0:10]}}</b></li>
                                <li class="list-group-item">Industry: {{ads[j][16]}}</li>
                                <li class="list-group-item">Category: {{ads[j][15]}}</li>
                                <li class="list-group-item">Niche: {{ads[j][14]}}</li>
                            </ul>
                            
                            
                            <div class="card-body">
                              {% if ads[j][7] != 0 %}
                                <p><small><b>This ad has been deleted.</b></small></p>
                                {% else %}
                                    {% if ads[j][6] == "pending" %}
                                        <a class="btn btn-danger" href="/influencer/reject/{{ads[j][0]}}">Reject</a>
                                        <a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#Modal" onclick="setadid('{{ads[j][0]}}')">Negotiate</a>
                                        <a class="btn btn-success" href="/influencer/accept/{{ads[j][0]}}">Accept</a>
                                    {% endif %}
                                {% endif %}
                                {% if ads[j][23] != 0 %}
                                <br><p><small><b>This campaign has been deleted.</b></small></p>
                                {% endif %}
                            </div>  
                            
                            
                        </div>
                    </div>

                    {% endif %}
                    

                {% endfor %}
                <br><br>
                
            </div>
            <br><br>
            
        {% endfor %}

    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" >
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Fill the negotiation amount to send request</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="negotiate" method="post" class="form-control" onsubmit="return negotiate()">

            <label for="amount">Negotiation amount:</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount in nearest dollar($)" required>
            <input type ="number" style="display: none;" id="ad_id" name="ad_id" required>
            <br>

            <button type="submit" class="btn btn-success" onclick="negotiate()">Negotiate</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}