{% extends "influencer/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href = "{{url_for('static',filename = 'css/admin/userManagement.css')}}">
{% endblock %}

{% block js %}  
    <script src="{{url_for('static',filename = 'js/influencer/campaigns.js')}}"></script>
    <script >
      function report(){
        window.location.href = window.location.href;
      }

      function reportC(btn){
        document.getElementById("complain_user").value = btn;
      }

      function putCI(btn){
        document.getElementById("c_id").value = btn;
      }

      function apply(){
        window.location.href = window.location.href;
      }

      

    </script>
{% endblock %}

{%block user %}{{username}}{% endblock %}

{% block content %}
<div class="searchby">
    <form class="d-flex" role="search" id="formSearchBy" method="post" onsubmit="return true">
        
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="filterbychoice">Filter By</label>
                <select class="form-control" id="filterbychoice" name="filterbychoice">
                  <option selected value="Choose...">Choose...</option>
                  <option value="category">Category</option>
                  <option value="isflagged">Flagged</option>
                  <option value="industry">Industry</option>
                  <option value="status">Status</option>
                  
                </select>

                <select class="form-control" id="filterbyvalue" name="filterbyvalue">
                    <option selected value="Choose...">Choose...</option>

                </select>
            


            <label class="input-group-text" for="filterbyvalue"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
        
    </form>

    
    <form class="d-flex" role="search" id="formUsername" method="post" onsubmit="return true">
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="name">Filter By</label>
            <input type="text" id="name" name = "name" class="form-control" placeholder="name">

            <label class="input-group-text" for="name"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
    </form>

    <form class="d-flex" role="search" id="formNiche" method="post" onsubmit="return true">
        <div class="input-group">
            <span class="input-group-text"></span>
            <label class="input-group-text" for="n">Filter By</label>
            <input type="text" id="n" name = "n" class="form-control" placeholder="niche">

            <label class="input-group-text" for="name"><button class="btn btn-success" type="submit">Search</button></label>
            
        </div>
    </form>

</div>
<br>
    <div style="max-width: fit-content;margin-left: auto;margin-right: auto;">

        <button class="btn btn-warning" type="button" onclick="reload()">See all campaigns</button>

</div>

<br>
<div>

    <div class="allUsers">
        <br>

        {% for i in range(0, campaigns|length ,3) %}
            
            <div class="rows">
                {% for j in range(i,i+3) %}
                    {% if (campaigns|length > j)  %}
                    {% set user = campaigns[i] %}
                    <div class="users">
                        <div class="card" style="width: 18rem;">

                            {% if campaigns[j][11] == "private"%}
                                <span class="badge text-bg-info">Private</span>
                            {% else %}
                            <span class="badge text-bg-primary">Public</span>
                            {% endif %}
                            <br>

                            <div class="card-body">
                              <h5 class="card-title"><b>{{campaigns[j][1]}}</b></h5>
                              <p class="card-text">{{campaigns[j][2]}}</p>
                              {% if campaigns[j][8] == 1 %}
                                <span class="badge text-bg-danger">Flagged</span>
                            {% endif %}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><small>Sponsor: {{campaigns[j][10]}}</small></li>
                                <li class="list-group-item">Goals: {{campaigns[j][9]}}</li>
                              <li class="list-group-item">Start date: {{campaigns[j][3][0:10]}}</li>
                              <li class="list-group-item">End date: {{campaigns[j][4][0:10]}}</li>
                              <li class="list-group-item">Industry: {{campaigns[j][7]}}</li>
                              <li class="list-group-item">Category: {{campaigns[j][6]}}</li>
                              <li class="list-group-item">Niche: {{campaigns[j][5]}}</li>
                              <li class="list-group-item">Budget: $ {{campaigns[j][13]}}</li>
                            </ul>
                            
                            
                            <div class="card-body">
                              <a type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal" onclick="putCI('{{campaigns[j][0]}}')">Apply</a>
                              <button data-bs-toggle="modal" data-bs-target="#exampleeModal" class="btn btn-danger" onclick="reportC('{{campaigns[j][0]}}')">Report</button>
                              
                            </div>  
                            
                            
                        </div>
                    </div>

                    {% endif %}
                    

                {% endfor %}
                <br><br>
                
            </div>
            <br><br>
            
        {% endfor %}

    </div>
</div>


<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content" >
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Fill the form to apply for the campaign</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form id="send_application" method="post" class="form-control">
        <input type="text" class="form-control" id="c_id" name="c_id" style="display: none;" required><br>
        <label for="complainss">Expected Payment Amount:</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount to nearest dollar($)" required></textarea>

        <br>

        <button type="submit" class="btn btn-success" onclick="apply()">Apply</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
    </div>
</div>

<div class="modal fade" id="exampleeModal" tabindex="-1" aria-labelledby="exampleeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
<div class="modal-content" >
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Fill the form to file a complain report</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form id="send_complain_request" method="post" class="form-control">
      <input type="text" class="form-control" id="complain_user" name="complain_user" style="display: none;" required><br>
      <label for="complainss">Complain:</label>
      <textarea class="form-control" id="complainss" name="complainss" placeholder="minimum 10 characters" required></textarea>

      <br>

      <button type="submit" class="btn btn-danger" onclick="report()">Report</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
  </div>
</div>


{% endblock %}