{% extends 'influencer/base.html' %}

{% block title %}Details Page{% endblock %}

{% block css%}
        <link rel="stylesheet" href ="{{ url_for('static', filename = 'css/influencer/getDetails.css') }}">
{% endblock %}

{% block js%}
        <script src="{{url_for('static', filename = 'js/influencer/getDetails.js')}}"></script>
{% endblock %}


{% block content %}
    
        <body>
    
            <div class="form-area">
    
                <div class="form">
    
                    <h1>
                        Add details
                    </h1>
                    <br>
                    <form onsubmit="return finish();" method="post">
                        
                        
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="category">Category</label>
                            <select class="form-select" id="category" name="category">
                              <option selected>Choose...</option>
                              
                                {% for i in category %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}

                            </select>
                          </div>
                          <br>

                          <div class="input-group mb-3">
                            <label class="input-group-text" for="niche">Niche</label>
                            <select class="form-select" id="niche" name="niche">
                              <option selected>Choose...</option>
                              
                            </select>
                          </div>
                          <br>
                          

                        <input type="text" class="form-control" name="followers" id="followers" placeholder="No. of followers on instagram"  required>
                        <br><br>

                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                            <input type="text" name="insta_id"  class="form-control" id="instaid" placeholder="instagram id eg. _insta_id_">
                        </div>
                        <br>

                        <button type="submit" class="btn btn-primary" onclick="finish()">Finish</button>

    
                    </form>
                </div>
    
            </div>
    
    
        </body>
        <br>
        <br>

    {% endblock %}